
.items {
    display: grid;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.collection-item {
    padding: 2%;
    margin: 10px;
    border-left:rgb(184, 121, 4) solid 1px;
    border-right:rgb(184, 121, 4) solid 1px;
}

.collection-item table, tr, td {
    border: #ccc 2px solid;
    border-collapse: collapse;
}

.collection-item a, h3 {
    font-size: 160%;
    color: rgb(184, 121, 4) !important;
    text-decoration: none;
    cursor: pointer;
    padding: 0%;
    margin: 0%;
    margin-bottom: 1%;
    font-size: 130%;
}
.collection-item h3:hover {
    text-decoration: underline rgb(204, 141, 44);
    color: rgb(204, 141, 44);
}

.card-body {
    padding-top: 0%;
}


footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid rgb(184, 121, 4);
}

.main-content {
    top: 50px;
    background-color: #fff;
    color: #222;
    padding-left: 20px;
}